/* @import url("https://fonts.googleapis.com/css2?family=Inter&display=swap"); */

@font-face {
    font-family: 'Inter' sans-serif;
    src: url(./fonts/Inter-VariableFont_slnt\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
  background-color: #1d1d1d;
  font-family: 'Inter', sans-serif;
  width: 100vw;
  min-height: 100vh;

  

}

h1, h2, li, p {
  color: #FEFEFE;
  /* font-family: 'Inter', sans-serif; */
}

h3{
    color: #474DFF;
}
